@import '../styles.scss';

.spacer {
    flex: 1 1 auto;
}

.container {
    width: 100%;
    height: 100vh;
    border: 1px solid rgb(0, 0, 0, 0.8);
}

.sidenav-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    height: 100%;
}

.sidenav {
    width: 250px;
    padding: 0 0 20px 0;
    border-right: 1px solid rgb(0, 0, 0, 0.2);
    border-radius: 0;
    box-shadow: 1px 0 5px rgba(0, 0, 0, 0.2);
}

.nav-icon {
    margin-right: 10px;
    color: $color-font;
}

.toolbar {
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: $color-primay;
    color: $color-font;
}

.logo-container {
    height: 55.4px;
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
    padding: 0 20px;
    display: flex;
    align-items: center;

    > img {
        height: 45px;
    }
}

.nav-list {
    padding-top: 0.5px;
    margin: 0;

    > mat-list-item {
        display: flex;
        align-items: center;
        border-radius: 0 !important;

        &:hover {
            border-radius: 0 !important;
        }
    }
}

.footer-content {
    display: flex;
    height: 25px;
    padding: 5px 30px;
    background-color: $color-accent;
    gap: 15px;

    > p {
        margin: 0;
        font-size: 12px;
    }
}

.router-container {
    flex: 1;
    height: 100%;
    padding: 20px 30px;
}